*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 70px;
    background-color: black;
}

.left{
    height: 60vh;
    background-color: red;
    width: 50%;
    display: inline-block;
}

.right{
    height: 60vh;
    background-color: blue;
    width: 50%;
    display: inline-block;
}

