*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-row-gap: 9px;
    grid-column-gap: 19px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:150px;
}

.item{
    height: 20px;
    border: 2px solid red;
    background-color: aqua;
}